= bootstrap_form_for([@article, @article.comments.build]) do |f|
  .row
    %p
      = f.label :current_user 
      = "add comment as @#{current_user.email.split('@')[0]}"
  .row
    %p
      = f.text_area :body
  .row
    %p
      = f.submit 'Add Comment',:class => "btn btn-primary"
