= bootstrap_form_for @article, html: { multipart: true } do |f|
  - if @article.errors.any?
    #error_explanation
      .row
        %h2.text-center
          = pluralize(@article.errors.count, "error")
          prohibited
          this article from being saved:
        %ul.text-center
          - @article.errors.full_messages.each do |msg|
            %li= msg
  .row  
    %br
      %h4.text-center
        = f.text_field :tag_list
  .row  
    %br
      %h4.text-center
        = f.file_field :image
  .row  
    %br
      %h4.text-center
        = f.text_field :title
  .row
    %br
      %h4.text-center
        = f.text_area :text
  .row
    %p.text-center
      = f.submit  'Submit This Article',:class => "btn btn-primary"
