- javascript_include_tag :defaults
.row
  .col-sm-5
    %h1 
  .col-sm-5
    %h1 Listing articles
  .col-sm-2
    - if can? :create, Article
      %h4.text-right= link_to 'Create New article', new_article_path
.row
  .col-xs-4
    / Blog Sidebar Widgets Column
    .form-group
      %h4 Title Search
      .input-group
        = search_form_for @search, url: articles_url do |f|
          %span.input-group-btn
            = f.text_field :title_cont, :class => "form-control"
            %button.btn.btn-default{:type => "submit"}
              %span.glyphicon.glyphicon-search 

  .col-xs-4
  
    %h4
      new tag Search
      = search_form_for @search, url: articles_url do |f|
        = f.select :tags_name_cont, options_for_select(@tags), {}, {required: 'true', autofocus: 'true', class: 'e1', placeholder: 'Please select'}
        %button.btn.btn-default{:type => "submit"}
          %span.glyphicon.glyphicon-search 

- if flash[:notice]
  .row
    .notice= flash[:notice]
.row
  %table.table.table-striped
    %tr
      %th 
        = sortable "title", "Title"+" "
        -if sortable "title", "Title"+" "
          = get_img "title", "Title"
      %th 
        = sortable "text", "Content "
        -if sortable "text", "Content "
          = get_img "text", "Content "
      %th 
        = sortable "created_at", "Publish Date "
        -if sortable "created_at", "Publish Date "
          = get_img "created_at", "Publish Date "

      %th Poster
      %th Show
      %th Modify
      %th Remove
      %th.align-right Tags
    - @articles.each do |article|
      %tr
        %td= article.title
        %td= article.text
        %td= article.created_at
        %td= image_tag article.image.url(:thumb)
        %td= link_to 'Show', article_path(article)
        - if can? :update, Article
          - if (current_user.id == article.user_id and current_user.role.name == 'author') or current_user.role.name == 'admin'
            %td= link_to 'Edit', edit_article_path(article)
          -else
            - flash[:error] = "Restricted Author Access"
            %td= "  "
        -else
          - flash[:error] = "Restricted Access"
          %td= " "

        - if can? :destroy, Article
          - if (current_user.id == article.user_id and current_user.role.name == 'author') or current_user.role.name == 'admin'
            %td= link_to 'Destroy', article_path(article), |
                method: :delete,                          |
                data: { confirm: 'Are you sure?' }        |
          -else
            - flash[:error] = "Restricted Author Access"
            %td= " "
        -else
          - flash[:error] = "Restricted Access"
          %td= " "
        
        %td= raw article.tag_list.map { |t| link_to t,tag_path(t) }.join(', ')
    = will_paginate @articles
    