%h3.p.text-center
  %strong Artical Title:
  = @article.title
%h3.p.text-center
  %strong Artical Content:
  = @article.text
%h4.p.text-left
  = render @article.comments
%br

%h3.p.text-center
  Add Your Comment
%h4.p.text-center
  = render 'comments/form'
  = link_to 'Edit', edit_article_path(@article)
  |
  \#{link_to 'Back', articles_path}