.row
  .col-sm-8
    %h1.text-center Recent Articles for You
    %table.table
      %tr
        %th
          = sortable "title", "Title"+" "
          -if sortable "title", "Title"+" "
            = get_img "title", "Title"
        %th
          = sortable "text", "Content "
          -if sortable "text", "Content "
            = get_img "text", "Content "
        %th Image Thumbnail
        %th
          = sortable "created_at", "Publish Date "
          -if sortable "created_at", "Publish Date "
            = get_img "created_at", "Publish Date "
      - @articles.each do |article|
        %tr
          %td= article.title
          %td= article.text
          %td= image_tag article.image.url(:thumb)
          %td= article.created_at
      = will_paginate @articles
  .col-sm-4
    / Blog Sidebar Widgets Column
    .form-group
      %h4 Blog Search
      .input-group
        = search_form_for @search, url: welcome_index_url do |f|
          %span.input-group-btn
            = f.text_field :title_cont, :class => "form-control"
            %button.btn.btn-default{:type => "submit"}
              %span.glyphicon.glyphicon-search
      / /.input-group
    / Blog Categories Well
    .well
      %h4 Recent Posts
      .row
        .col-lg-6
          %ul.list-unstyled
            %li
              %a{:href => "#"} First Post
            %li
              %a{:href => "#"} Second Post 
            %li
              %a{:href => "#"} Third
            %li
              %a{:href => "#"} And So on

    / Side Widget Well
    .well
      %h4 Side Widget Space
      %p This is the space for side widget , RSS feed notification etc
  / /.row
